body {
  background-color: #e5e4e2;
}

.crypto-picture {
  font-size: 10px;
  margin-left: 10px;
}
.crypto-name {
  font-size: 25px;
  font-weight: bold;
  margin-top: -1px;
  margin-left: 10px;
  color: black;
}
.crypto-symbol {
  margin-left: 10px;
  margin-top: 9px;
}
.Crypto-price {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 24px;
  padding-top: 10px;
  color: black;
}
.stock-Info {
  /* margin-top: 100px; */
}
.hr-change-percent {
  margin-bottom: 22px;
  left: 600px;
  font-size: 14px;
}
.grid {
  margin-top: 10px;
  display: grid;
  height: 300px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player:nth-child(4) {
  grid-column: 2;
}
.oneCryptoValue {
  color: white;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 40px;
}
.sell-value {
  position: absolute;
  margin-top: -13px;
  right: 210px;
}
.exchange-icon {
  position: absolute;
  font-size: 60px;
  margin-top: -65px;
  margin-left: -0px;
}
.get-value {
  position: absolute;
  margin-top: -12px;
  right: 210px;
}
.exchange {
  color: white;
  margin-left: 43px;
  margin-top: 5px;
  position: absolute;
}
.exchange-value {
  color: white;
  margin-left: 220px;
  margin-top: 7px;
  position: absolute;
}
.Get-Logo {
  margin-top: -13px;
  position: absolute;
  margin-left: 80px;
}
.Sell-Logo {
  margin-top: -10px;
  font-size: 20px;
  position: absolute;
  left: 230px;
}
.CTA-button {
  border-radius: 10px;
  margin-left: 70px;
  position: absolute;
  top: 260px;
  height: 70px;
  width: 250px;
  background-color: aliceblue;
}
.Market-Cap-Result {
  margin-top: -10px;
}
.Volume-Result {
  margin-top: -10px;
}

.Supply-Result {
  margin-top: -10px;
}
.stats {
  width: 1200px;
  margin-top: 50px;
  height: 190px;
  margin-left: 30px;
}
.Recent-logo {
  width: 30px;
  height: auto;
  margin-left: 10px;
}
.Recent-name {
  margin-left: 10px;
}
.Recent-target {
  margin-left: 160px;
}
.Recent-symbol {
  margin-left: 60px;
  margin-top: 0px;
}
.Recent-percentage {
  margin-left: 160px;
}
.Recent-arrow {
  font-size: 30px;
  margin-left: -130px;
}
.Description-Header {
  margin-left: 8px;
  font-size: 17px;
  padding-bottom: 3px;
}
.News-title {
  font-weight: bold;
  font-size: 27px;
  margin-left: 1px;
  margin-top: 10px;
}
.Trending{
  margin-top: 0px;
}
.News-div {
  display: flex;
  padding-top: 0px;
}
.news-name {
  margin-top: 0px;
  margin-left: 10px;
}
.News-image {
  margin-top: 1px;
}
.image-not-found{
  margin-top: 1px;
  width: 200px;
}
.Trade-div button{
   border-radius: 10px;
  margin-left: 70px;
  position: absolute;
  top: 260px;
  height: 70px;
  width: 250px;
  background-color: aliceblue;
}
/* .news-provider {
  position: relative;
  margin-top: -20px;
  margin-left: 120px;
} */
